VERCEL_POSTGRES_URL=""
VERCEL_POSTGRES_PRISMA_URL=""
VERCEL_POSTGRES_URL_NO_SSL=""
VERCEL_POSTGRES_URL_NON_POOLING=""
VERCEL_POSTGRES_USER=""
VERCEL_POSTGRES_HOST=""
VERCEL_POSTGRES_PASSWORD=""
VERCEL_POSTGRES_DATABASE=""
UPDATE_BEARER_TOKEN=""
DAGSTER_POSTGRES_USER=""
DAGSTER_POSTGRES_PASSWORD=""
DAGSTER_POSTGRES_DB=""